# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.0x06-unity-assets_ui.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\cresp\Documents\holbertonschool-unity\0x06-unity-assets_ui\.idea\.idea.0x06-unity-assets_ui\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
