# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Scripts.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\cresp\Documents\holbertonschool-unity\0x09-unity_ar_business_card\Assets\LeanTween\Examples\Scripts\.idea\.idea.Scripts.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
