# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.0x07-unity-animation.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\cresp\Documents\holbertonschool-unity\0x07-unity-animation\.idea\.idea.0x07-unity-animation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
